.order-item {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.order-item__title {
    display: flex;
    align-items: center;
}

.order-item__title img {
    width: 50px;
    margin-right: 10px;
}

.order-item__price {
    display: flex;
    align-items: center;
}